<footer class="mt-5 pt-3 border-top bg-light">
    <div class="container-fluid">
        <p class="text-center text-muted small mb-3">
            <a href="/articles" class="text-decoration-none text-muted">미니 게시판 만들기</a>
            &copy; 2024 Your Company Name. All Rights Reserved.
        </p>
    </div>
</footer>

</body>
</html>