{{>layouts/header}}

<div class="container my-5">
    <h1 class="mb-4 display-5">게시글 수정하기</h1>

    {{#article}}
        <form action="/articles/{{id}}/edit" method="post">
            <input type="hidden" name="id" value="{{id}}">
            <div class="mb-3">
                <label for="articleTitle" class="form-label fw-bold">제목</label>
                <input type="text" class="form-control" id="articleTitle" name="title" value="{{title}}" placeholder="제목을 입력해 주세요." required>
            </div>
            <div class="mb-3">
                <label for="articleContent" class="form-label fw-bold">내용</label>
                <textarea class="form-control" id="articleContent" name="content" rows="8" placeholder="내용을 입력해 주세요." required>{{content}}</textarea>
            </div>
            <div class="mb-4">
                <label for="articleAuthor" class="form-label fw-bold">작성자</label>
                <input type="text" class="form-control" id="articleAuthor" name="author" value="{{author}}" placeholder="작성자 닉네임을 입력해 주세요.">
            </div>
            <div>
                <button type="submit" class="btn btn-primary flex-grow-1 me-md-2 mb-2 mb-md-0">
                    수정 완료
                </button>
                <a href="/articles/{{id}}" class="btn btn-secondary flex-grow-1">
                    뒤로가기
                </a>
            </div>
        </form>
    {{/article}}

</div>

{{>layouts/footer}}