{{>layouts/header}}
{{#article}}
    <form class="container" action="/articles/{{id}}/edit" method="post">
        <label>제목</label>
        <input type="text" value="{{title}}" name="title">
        <label>내용</label>
        <textarea name="content">{{content}}</textarea>
        <label>작성자</label>
        <input type="text" value="{{author}}" name="author">
        <button type="submit" class="btn btn-primary">수정</button>
        <a href="/articles/{{id}}">뒤로가기</a>
    </form>
{{/article}}
{{>layouts/footer}}