{{>layouts/header}}
<form action="articles/new" method="post">
    <label>제목</label>
    <input type="text" name="title">
    <label>내용</label>
    <textarea name="content"></textarea>
</form>
{{>layouts/footer}}